@model WebStore.Web.ViewModels.Category.DisplayCategoryViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Model.ParentCategory.Name;
}

<div class="text-center">
    <span class="h2">@ViewData["Title"]</span>
</div>

<div class="d-flex flex-wrap mt-3">
    @if (Model.ParentCategory.ParentCategory != null)
    {
        <div class="col-md-4 col-xl-3 p-2 category">
            <a asp-controller="Category" asp-action="Index" asp-route-id="@Model.ParentCategory.ParentCategory.Id" class="nav-link">
                <div class="text-center bg-light">
                    <div class="p-3 text-dark">
                        <h5>@Localizer["Back"]</h5>
                    </div>
                    <div class="pt-4" style="height: 200px">
                        <div class="pt-4 text-dark align-middle">
                            <span class="fa fa-3x fa-chevron-left"></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }

    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4 col-xl-3 p-2 category">
            <a asp-controller="Category" asp-route-id="@category.Id" class="nav-link">
                <div class="text-center bg-light">
                    <div class="p-3 text-dark">
                        <h5>@category.Name</h5>
                    </div>
                    <div>
                        <img src="@Url.Action("CategoryImage", new { id = category.Id })" alt="category image" width="200" height="200" />
                    </div>
                </div>
            </a>
        </div>
    }
    
    <div class="col-md-4 col-xl-3 p-2 category">
        <a asp-controller="Category" asp-action="All" asp-route-id="@Model.ParentCategory.Id" class="nav-link">
            <div class="text-center bg-light">
                <div class="p-3 text-dark">
                    <h5>@Localizer["Show all"]</h5>
                </div>
                <div class="pt-4" style="height: 200px">
                    <div class="pt-4 text-dark align-middle">
                        <span class="fa fa-3x fa-list"></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
